%h1 notes
%table
  %thead
    %tr
      %th id
      %th title
      %th created at
  - notes.each do |note|
    %tr
      %td= note.id
      %td
        %a{:href => "/notes/#{note.id}"}
          =note.title
      %td= note.created_at
