%h1 notes
%table
  %thead
    %tr
      %th id
      %th title
      %th created
  - notes.each do |note|
    %tr
      %td= note.id
      %td
        %a{:href => note_path(note)}
          =note.title
      %td
        =time_ago_in_words(note.created_at)
        ago
  %tr
    %td{colspan: 3}
      %a{href: new_note_path} add new
